@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.typing-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 10vh;
  /* Tinggi minimum agar konten tidak terlalu kecil */
  font-size: clamp(1rem, 2vw, 1.25rem);
  /* Ukuran font responsif */
  font-family: 'Courier New', Courier, monospace;
  overflow: hidden;
  padding: 2vh 0;
  /* Padding atas dan bawah untuk memberikan ruang */
}

.typing-text {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid transparent;
  /* Awalnya tidak ada border */
  animation: blink-caret 0.75s step-end infinite;
}

@keyframes blink-caret {

  from,
  to {
    border-color: transparent;
  }

  50% {
    border-color: black;
  }
}

/* Media query untuk layar kecil */
@media (max-width: 768px) {
  .typing-container {
    font-size: clamp(0.75rem, 4vw, 1rem);
    /* Penyesuaian font size untuk layar kecil */
  }
}